## .NET Build Artifacts
**/bin/
**/obj/
*.user
*.suo
.vs/
.vscode/

## Node / NPM
**/node_modules/
**/npm-debug.log*
**/yarn-error.log*
**/dist/

## Generated Client & Showcase Bundles
**/wwwroot/js/
!**/wwwroot/js/.gitkeep

## OS generated
.DS_Store
Thumbs.db
